body {
  display: grid;
  grid-template-areas:
    "sidebar right"
    "footer footer";
  grid-template-columns: 12% auto;
  grid-template-rows: auto 50px;
  height: 100%;
}

@media screen and (max-width: 60em) {
  body {
    grid-template-areas:
      "right"
      "footer";
    grid-template-columns: auto;
  }
}
