/* SETTINGS */
@import "./sttings.font-family";
@import "./settings.font-sizes";
@import "./settings.colors";
/* GENERIC */
@import "./generic.universal";
@import "./generic.fonts";
/* ELEMENTS */
@import "./elements.html";
@import "./elements.body";
@import "./elements.header";
@import "./elements.a";
@import "./elements.ul";

ul li {
  display: inline;
}

ul li a {
  color: #fff;
  padding: 15px;
}

#logo {
  color: #298383;
  background-color: #f3f1c7;
  display: inline-block;
  font-weight: bold;
  margin-left: 15px;
  padding: 15px;
  text-align: center;
}

section#hero {
  background-color: #36adad;
  border-top: 5px solid #2ea0a0;
  display: grid;
  grid-area: hero;
  grid-template-columns: repeat(2, auto);
  padding: 2em;
}

#content h1 {
  color: #fffbc5;
  text-transform: uppercase;
}

#content p {
  color: #fff;
}

img {
  background-size: cover;
  margin: 0 auto;
  max-width: 100%;
}

#mountain {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.sidebar {
  background-color: #1c9090;
  color: #fff;
  padding: 1em;
  grid-area: sidebar;
}

.main {
  display: grid;
  grid-area: right;
  grid-template-rows: 51px fit-content(30%) 50% auto;
  grid-template-areas:
    "head"
    "hero"
    "invention"
    "features";
}

footer {
  background-color: lightgray;
  grid-area: footer;
}

#features {
  display: grid;
  grid-area: features;
  grid-template-columns: repeat(5, auto);
  grid-column-gap: 10px;
  text-align: center;
}

#features i {
  font-size: 2em;
}

ul#features li {
  align-self: start;
  background-color: lightgray;
  padding: 1em;
}

ul#features li:nth-child(1) {
  background-color: #1c9090;
}
ul#features li:nth-child(2) {
  align-self: center;
  background-color: #36adad;
}
ul#features li:nth-child(3) {
  background-color: #1c9090;
}
ul#features li:nth-child(4) {
  align-self: center;
  background-color: #36adad;
}
ul#features li:nth-child(5) {
  background-color: #1c9090;
}

section#info {
  background-color: #f2f2f2;
  padding: 2em;
  display: grid;
  grid-area: invention;
  grid-template-columns: 1.5fr 1fr;
  align-items: space-around;
}

#mountain-vector {
  align-self: center;
  width: 200px;
}

@media screen and (max-width: 60em) {
  .sidebar {
    display: none;
  }

  .main {
    grid-template-areas:
      "head"
      "hero"
      "features"
      "invention";
  }

  #features {
    grid-template-columns: repeat(2, auto);
  }

  ul#features li:nth-child(5) {
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: 40em) {
  .main {
    grid-template-rows: auto fit-content(30%) 40% auto;
  }

  header {
    grid-template-columns: auto;
    grid-template-rows: repeat(2 auto);
  }

  #logo {
    margin-left: 0;
  }

  nav ul {
    float: none;
    width: 100%;
  }

  nav ul li a {
    width: calc(25% - 35px);
    display: inline-block;
    font-size: 0.9em;
  }

  section#hero,
  section#info {
    grid-template-columns: auto;
    text-align: center;
  }

  #mountain,
  #mountain-vector {
    margin-top: 20px;
  }

  #features {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
  }

  ul#features li:nth-child(1),
  ul#features li:nth-child(2) {
    grid-column: 1 / span 2;
  }
}
