/* SETTINGS */
@import "./sttings.font-family";
@import "./settings.font-sizes";
@import "./settings.colors";
/* GENERIC */
@import "./generic.universal";
@import "./generic.fonts";
/* ELEMENTS */
@import "./elements.html";
@import "./elements.body";
@import "./elements.a";
@import "./elements.ul";

ul li {
  display: inline;
}

ul li a {
  color: #fff;
  padding: 15px;
}

#logo {
  color: #298383;
  background-color: #f3f1c7;
  display: inline-block;
  font-weight: bold;
  margin-left: 15px;
  padding: 15px;
  text-align: center;
}

header {
  background-color: $header-color;
  display: grid;
  grid-template-columns: [logo-start] fit-content(20%) [nav-start] auto [nav-end];
}

section#hero {
  background-color: #36adad;
  border-top: 5px solid #2ea0a0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 2em;
}

#content h1 {
  color: #fffbc5;
  text-transform: uppercase;
}

#content p {
  color: #fff;
}

img {
  background-size: cover;
  margin: 0 auto;
  max-width: 100%;
}

#mountain {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.sidebar {
  background-color: #1c9090;
  color: #fff;
  padding: 1em;
  grid-area: sidebar;
}

.main {
  display: grid;
  grid-area: right;
  grid-template-rows: 51px fit-content(30%);
}

footer {
  background-color: lightgray;
  grid-area: footer;
}
